* {
    margin: 1;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(128, 77, 77);
    color: white;
    
}
.container{
    display: flex;
    flex-direction: column;
    background: (8, 133, 206, 0.63);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    margin-top: 15vh;
    margin-left: 80vh;
}

h3 {
    margin-top: 100px;
    text-align: center;

}

#button {
    margin: 5px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
}