body {
    margin-top: 200px;
    background-color: rgba(36, 51, 61, 0.712);
    font-family: Verdana;
}
.container {
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    color: wheat;
    border-style: solid;
    border-color: wheat;
}

#button {
    margin-top: 20px;
    border-style: none;
}

#button:hover {
    background-color: wheat;
    border-style: none;
    box-shadow: wheat;
    cursor: pointer;
}
